extends layout

block content
  h1(class="style")= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let Mangoid = toShow._id
    - let mangotypes = toShow.types
    - let mangocolours = toShow.colours
    - let mangocost = toShow.cost
    - let actionid = "/resource/mango/" + mangoid

    script let actionid = "#{actionid}"
    div
      div.row
        div(class='mangoAttr mr-3') mango ID is:
        div(class="style mangoup") #{mangoid}
      div.row
        div(class='mangoAttr mr-3') mango brand is:
        div(class="style mangoup") #{mangotypes}
      div.row
        div(class='mangoAttr mr-3') mango material is:
        div(class="style mangoup") #{mangocolours}
      div.row
        div(class='mangoAttr mr-3') mango cost is:
        div(class='style mangoup') #{mangocost}
      

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the Hat collection
      window.location.href='/mango'
    }
  script.
    function deleteOnid() {
      console.log("Deleting the Resource")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json();   // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/mango'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }